<launch>
<include file="$(find turn_on_wheeltec_robot)/launch/navigation.launch" />
<node pkg="aruco_detect" type="aruco_detect" name="aruco_detect" />
<node pkg="main_controller" type="main.py" name="main_controller"  output = "screen" />
<node pkg="capstone_manipulator" type="manipulator.py" name="manipulator" output = "screen" />
</launch>